# 리스트의 기초

In [2]:
# 실습 2-1

# 학생 5명의 시험 점수를 입력받아 합계와 평균을 출력하기

print('학생 그룹 점수의 합계와 평균을 구합니다.')

score1 = int(input('1번 학생의 점수를 입력하세요.: '))
score2 = int(input('2번 학생의 점수를 입력하세요.: '))
score3 = int(input('3번 학생의 점수를 입력하세요.: '))
score4 = int(input('4번 학생의 점수를 입력하세요.: '))
score5 = int(input('5번 학생의 점수를 입력하세요.: '))

total = 0 
total += score1
total += score2
total += score3
total += score4
total += score5

print("합계는 {} 입니다.".format(total))
print("평균은 {} 입니다.".format(total/5))

학생 그룹 점수의 합계와 평균을 구합니다.
1번 학생의 점수를 입력하세요.: 10
2번 학생의 점수를 입력하세요.: 10
3번 학생의 점수를 입력하세요.: 10
4번 학생의 점수를 입력하세요.: 10
5번 학생의 점수를 입력하세요.: 10
합계는 50 입니다.
평균은 10.0 입니다.

In [11]:
# 리스트는 원소를 변경할 수 있는 뮤터블 list형 객체(mutable)

list03 = ['a','b','c',]
print(list03)
list04 = list()
list05 = []
print(list04)
print(list05)

['a', 'b', 'c']
[]
[]

In [13]:
list06 = list([1,2,3])
list07 = list((1,2,3))
list08 = list({1,2,3})
print(list06)
print(list07)
print(list08)

[1, 2, 3]
[1, 2, 3]
[1, 2, 3]

In [15]:
list09 = list(range(7))
list10 = list(range(3,8))
list11 = list(range(3,13,2))
print(list09)
print(list10)
print(list11)

[0, 1, 2, 3, 4, 5, 6]
[3, 4, 5, 6, 7]
[3, 5, 7, 9, 11]

In [20]:
list12 = [None] * 5
print(list12)
list12[3] = 'a'
print(list12)

[None, None, None, None, None]
[None, None, None, 'a', None]

# 튜플의 기초

In [22]:
tuple01 = ()
tuple02 = tuple()
tuple03 = 1,
tuple04 = (1,)
print(tuple01)
print(tuple02)
print(tuple03)
print(tuple04)

()
()
(1,)
(1,)

In [25]:
tuple05 = 1,2,3
tuple06 = 1,2,3,
tuple07 = (1,2,3)
tuple07_01 = (1,2,3,)
tuple08 = 'a','b','c'
print(tuple05)
print(tuple06)
print(tuple07)
print(tuple07_01)
print(tuple08)

(1, 2, 3)
(1, 2, 3)
(1, 2, 3)
(1, 2, 3)
('a', 'b', 'c')

In [29]:
v01 = 1,
v02 = (2,)
print(type(v01))
print(type(v02))

<class 'tuple'>
<class 'tuple'>

In [36]:
tuple09 = tuple()
tuple10 = tuple('abc def')
tuple11 = tuple(['ab','bc','ca'])
tuple12 = tuple({1,2,3})
print(tuple09)
print(tuple10)
print(tuple11)
print(tuple12)

()
('a', 'b', 'c', ' ', 'd', 'e', 'f')
('ab', 'bc', 'ca')
(1, 2, 3)

In [38]:
tuple13 = tuple(range(7))
tuple14 = tuple(range(3,8))
tuple15 = tuple(range(3,13,2))
print(tuple13)
print(tuple14)
print(tuple15)

(0, 1, 2, 3, 4, 5, 6)
(3, 4, 5, 6, 7)
(3, 5, 7, 9, 11)

# 리스트와 튜플 풀어내기

### 언팩(unpack) : 리스트나 튜플의 원소값들을 풀어 여러 변수에 대입하는 것을 말함.

In [40]:
x = [1,2,3]
a,b,c = x
print(a,b,c)

1 2 3

### 인덱스식 사용하기

In [42]:
x = [11,22,33,44,55,66,77]
print(x[2])
print(x[-3])
x[-4] = 3.14
print(x)

33
55
[11, 22, 33, 3.14, 55, 66, 77]

# 슬라이스식으로 원소에 접근하기

#### s[i:j] ----- s[i] 부터 s[j-1]까지 나열합니다.
#### s[i:j:k] --- s[i] 부터 s[j-1]까지 k씩 건너뛰며 나열합니다.

In [48]:
s = [11,22,33,44,55,66,77]
print(s[0:6])
print(s[:7])
print(s[0:7:2])
print(s[-4:-2])
print(s[3:1])
print(s[::-1])

[11, 22, 33, 44, 55, 66]
[11, 22, 33, 44, 55, 66, 77]
[11, 33, 55, 77]
[44, 55]
[]
[77, 66, 55, 44, 33, 22, 11]

In [50]:
x = 6
y = 2
x, y = y + 2, x + 3
print(x, y)

4 9

In [53]:
n = 12
print(id(n))
n += 1
print(id(n))

4314736136
4314736168

In [55]:
x = 0
print(type(x+17))
print(type(x=17))

<class 'int'>

TypeError: type() takes 1 or 3 arguments

# len() 함수로 배열의 원소 수 구하기

In [59]:
x = [15,64,7,3.14,[32,55],'abc']
print(len(x))

6

In [64]:
print([1,2,3] == [1,2,3])
print([1,2,3] <= [1,2,4])
print([1,2,3] <= [1,2,3,4])

True
True
True

# 내포 표기 생성이란?

### 리스트 안에서 for, if 문을 사용하여 새로운 리스트를 생성하는 기법을 내포 표기 생성이라 한다.

In [65]:
numbers = [1,2,3,4,5]
twise = [num * 2 for num in numbers if num % 2 == 1]
print(twise)

[2, 6, 10]